<!DOCTYPE HTML>

<div id="footer">
    <div class="pure-g-r wrapper">
    	<div class='pure-u-1-5 pure-hidden-phone icon-container'>
        </div>

        <div class='pure-u-3-5 icon-container'>
        </div>

        <div class='pure-u-1-5 icon-container'>
            <span class="center-align-helper"></span>
        </div>
    </div>
</div>    