<!DOCTYPE HTML>

<title>Pongs</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="/socket.io/socket.io.js">
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<link rel="stylesheet" href="stylesheets/flipclock.css">
<link rel="stylesheet" href="/stylesheets/style.css" >
<script src="javascripts/flipclock.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>