<link rel="stylesheet" href="/stylesheets/style.css" >
<img class="logo img-responsive center" src="../images/Pongs.png" style="width: 15%;">
<div class="page-header text-center">
  <h1><span class="fa fa-anchor"></span> Profile Page</h1>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<ul class="jumbotron2 navbar">
    <a class="navbarElements" href="/profile">Today</a>
    <a class="navbarElements" href="/history">History</a>
    <a class="navbarElements" href="/user_profile">Profile</a>
</ul>