<link rel="stylesheet" href="/stylesheets/style.css" >
<img class="logo img-responsive center" src="../images/Pongs.png" style="width: 15%;">
<div class="page-header text-center">
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<div class="jumbotron2">
    <a class="navbarTabs" href="/profile" id="profileTab" onclick="active('profile')">Today</a>
    <a class="navbarTabs" href="/history" id="historyTab" onclick="active('history')">History</a>
    <a class="navbarTabs" href="/user_profile" id="userTab" style="width: 34%" onclick="active('user')">Profile</a>
</div>

<script>

var profileTab = document.getElementById("profileTab"); 
var historyTab = document.getElementById("historyTab");
var userTab = document.getElementById("userTab");

function active(tab) {
	console.log("hello");
	profileTab.class = "navbarTabs";
	historyTab.class = "navbarTabs";
	userTab.class = "navbarTabs"
	if (tab == 'profile') {
		console.log("profile");
		profileTab.class = "activeTab";
	}
	if (tab == 'history') {
		historyTab.class = "activeTab navbarTabs"
	}
	if (tab == 'user') {
		userTab.class = "activeTab navbarTabs"
	}
}

</script> 