<div class="page-header text-center">
  <h1><span class="fa fa-anchor"></span> Profile Page</h1>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<ul class="nav nav-tabs">
    <li><a href="/profile">Today</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/user_profile">Profile</a></li>
</ul>