* {
    font-family:'ASAP' !important;
}
body {
    background-image:url("../images/subtle_white_feathers.png");
    background-repeat: repeat;
}
title {
    font-weight: 700px !important;
}
.profile-pic {
    margin: auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.logo {
    width: 60%;
}
.logoContainer {
    width: 100%;
    padding:30px;
    color:inherit;
    /*background-image: url(../images/brushed-dark.png);*/
    /*background-color:#a63737;*/
    text-align: center;
    background-color: #ddd;
}
.jumbotron2 {
    width: 100%;
    color:inherit;
    height: 75px;
    /*background-color:#aed9d1; LIGHT BLUE*/
    background-color:#a63737;
    text-align: center;
}
.halfButton a {
    color: white;
    text-decoration: none;
    font-size: 200%;
}
.halfButton {
    /*color: white;*/
    padding-top: 20px;
    width: 50%;
    height: inherit;
    float: left;
}
.halfButton:hover {
    background-color: #c44c4c;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.tile {
    height: 300px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.tileContainer {
    padding-top: 30px;
    overflow: hidden;
    max-width: 975px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}
.tileText {
    height: 275px;
    width: 275px;
    /*padding-top: 10px;*/
    position: relative;
    /*background-color: #ffcb8c;*/
    /*background-color: #d3ebe3; LIGHT LIGHT BLUE*/
    /*background-color: #444;*/
    background-image:url("../images/black-grid.png");
    text-align: center;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
@media (max-width: 480px) {
    .blurb {
        visibility: visible !important;
    }
    .blurbTitle {
        color:#a63737 !important;
        line-height: 100px !important;
    }
}
.blurbTitle {
    position:absolute;
    left:0;
    top:0;
    /*color: #AAA;*/
    color: #fff;
    width: 275px;
    height: 275px;
    line-height: 200px;
    font-size: 150%;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.blurb {
    visibility: hidden;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    position:absolute;
    color: #CCC;
    font-size:16px;
    width: 275px;
    height: 275px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
}
.tileText:hover .blurb {
    visibility: visible;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
}
.tileText:hover .blurbTitle {
    line-height: 100px;
    background-color: #111;
    color:#a63737;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
/*THE RED: #a63737;*/