* {
    font-family:'ASAP' !important;
}
*.focus {
    outline: 0 !important;
}
textarea, input {
    outline: none;
}
body {
    background-image:url("../images/subtle_white_feathers.png");
    background-repeat: repeat;
}
title {
    font-weight: 700px !important;
}
.profile-pic {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.logo {
    width: 55%;
}
.logoContainer {
    width: 100%;
    padding:30px;
    color:inherit;
    text-align: center;
    background-color: #ddd;
}
.jumbotron2 {
    width: 100%;
    color:inherit;
    height: 75px;
    background-color:#a63737;
    text-align: center;
}
.halfButton a {
    color: white;
    text-decoration: none;
    font-size: 200%;
}
.halfButton {
    color: white;
    font-size: 200%;
    /*color: white;*/
    padding-top: 15px;
    width: 50%;
    height: inherit;
    float: left;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.halfButton:hover {
    background-color: #c44c4c;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}
.tile {
    height: 300px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
#tileContainer {
    padding-top: 30px;
    overflow: hidden;
    max-width: 975px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}
.tileText {
    height: 275px;
    width: 275px;
    position: relative;
    background-image:url("../images/black-grid.png");
    text-align: center;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
@media (max-width: 480px) {
    .blurb {
        visibility: visible !important;
    }
    .blurbTitle {
        color:#a63737 !important;
        line-height: 100px !important;
    }
}
.blurbTitle {
    position:absolute;
    left:0;
    top:0;
    /*color: #AAA;*/
    color: #fff;
    width: 275px;
    height: 275px;
    line-height: 200px;
    font-size: 150%;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.blurb {
    visibility: hidden;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    position:absolute;
    color: #CCC;
    font-size:16px;
    width: 275px;
    height: 275px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
}
.tileText:hover .blurb {
    visibility: visible;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
}
.tileText:hover .blurbTitle {
    line-height: 100px;
    background-color: #111;
    color:#a63737;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.form {
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}
.formDisplay {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    /*background-color: #a63737;*/
}
.blurb {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    position:absolute;
    color: #BBB;
    font-size:16px;
    width: 275px;
    height: 275px;
    visibility: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
/* SIGNUP PAGE */
 .fullTitle {
    color: white;
    font-size: 200%;
    padding-top: 15px;
    width: 100%;
    height: inherit;
    float: left;
    text-align: center;
}
.fullForm {
    color: #333;
    font-size: 200%;
    padding-top: 15px;
    width: 100%;
    height: inherit;
    float: left;
    text-align: center;
}
.form-control {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    height:63px;
    padding:6px 12px;
    font-size:20px;
    line-height:1.42857143;
    color:#777;
    background-color: #aaa;
    border: 1px solid #ccc;
}
.submit-button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align: center;
    height:63px;
    padding:15px 12px;
    font-size:20px;
    line-height:1.42857143;
    color: #ddd;
    background-image:url("../images/black-grid.png");
    border: 1px solid #ccc;
}
.form-control::-moz-placeholder {
    color:#777;
    opacity:1
}
.form-control:-ms-input-placeholder {
    color:#777
}
.form-control::-webkit-input-placeholder {
    color:#777
}
.navbarTabs {
    background-color: #a63737;
    color: white;
    padding-top: 15px;
    text-decoration: none;
    font-size: 200%;
    width: 33%;
    height: inherit;
    float: left;
}
.navbarTabs:hover {
    /*background-color: #aed9d1; DARK COLOR*/
    background-color:#c44c4c !important;
    text-decoration: none;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.activeTab {
    background-color: #c44c4c !important;
}
.basic-info {
    display: inline-block;
    font-size: 200%;
    vertical-align: top;
}
.basic-field {
}
/* THE LOGIN PAGE */

/* #loginForm {
     display: none;
 }
 #signupForm {
     display:none;
 }*/

/*THE RED: #a63737;*/

/* LIGHTER RED: #c44c4c*/