<!DOCTYPE html>
<html>
  <head>
    <title> Cassandra Data </title>
    <%- cachify_css('/css/style.min.css') %>
  </head>
  <body>
    <h1>Login Page</h1>
    <p>Welcome to Cassandra Data, <%= title %></p>
    <%- cachify_js('/js/main.min.js') %>
  </body>
</html>