
<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Pongs</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<ul class="nav nav-tabs">
	    <li><a href="/">Home</a></li>
	    <li class="active"><a href="/fbprivacypolicy">Facebook Privacy Policy</a></li>
	</ul>
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span>Pongs</h1>

		Provider: Facebook
		<br>
		Purpose: User Facebook Wall Access
		<br>
		Personal Data collected: Cookie, Usage Data
		<br><br>
		Privacy Policy: <br>
		Facebook Status is a Facebook wall sharing service provided by Facebook Inc. enabling the User to post on their wall and share content on the Facebook platform.

	</div>
</div>
</body>
</html>