<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Tinder Meets LinkedIn</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
		<ul class="nav nav-tabs">
		    <li><a href="/profile">Today</a></li>
		    <li class="active"><a href="/history">History</a></li>
		    <li><a href="/user_profile">Profile</a></li>
		</ul>
		<div class="row">
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> History</h3>
				</div>
			</div>
		</div>
	</div>
</body>
<script> 


</script>
</html>
