<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Pongs</title>
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"> </script>

	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
		<ul class="nav nav-tabs">
		    <li><a href="/profile">Today</a></li>
		    <li class="active"><a href="/history">History</a></li>
		    <li><a href="/user_profile">Profile</a></li>
		</ul>
		<div class="row">
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3>History</h3>
					<div id="history" ng-app="test" ng-controller="testCtrl">
				      <input type="search" ng-model="history.name" placeholder="search history" />
				      Number matched: {{(history|filter: history.name).length}} / {{history.length}}
				      <div ng-repeat="hist in history | orderBy: hist.id | filter:history.name">
				      	<br>
				      	<strong> Name:</strong> {{hist.linkedin_name}} <br>
				        <strong> Location:</strong> {{hist.location}}<br>
						<img src="{{hist.picture}}" alt="some_text" height="80" width="80"><br>
						<a href="{{hist.linkedin_url}}">LinkedIn Profile</a><br>
				        <strong> Industry:</strong> {{hist.industry}}<br>
				        <strong> Positions:</strong> {{hist.positions}}<br>
				        <strong> LinkedIn email:</strong> {{hist.linkedin_email}}
				        <br>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</body>
<script> 
// Begin angular stuff
var app = angular.module("test", []);
function testCtrl($scope) {
	$scope.history = [];
	var json = [
		{
			'linkedin_id': 'abcde',
			'linkedin_email': 'test1@gmail.com',
			'linkedin_name': 'test1',
			'location': 'San Francisco Bay Area',
			'positions': 'Software Engineer at Intuit',
			'picture': 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/1506968_10152446632972774_3073535976158028597_n.jpg',
			'linkedin_url': 'https://www.linkedin.com/in/vtian',
			'industry': 'Software'
		},
		{
			'linkedin_id': 'seed',
			'linkedin_email': 'test2@gmail.com',
			'linkedin_name': 'test2',
			'location': 'San Francisco Bay Area',
			'positions': 'Software Engineer at Parnassus Investments',
			'picture': 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/10352764_10154059630770234_5619661920937521192_n.jpg',
			'linkedin_url': 'https://www.linkedin.com/in/vtian',
			'industry': 'Financial Services'
		}
	];

	for (var i=0; i<json.length; i++) {
    	$scope.history.push(json[i]);
    }
}
</script>
</html>
