<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Pongs</title>
<!-- 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<!-- 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css" >
</head>
<body>
<div class="container">
	<div class="logoContainer">
		<img class="logo" src="../images/Pongs.png">
	</div>
	<div class="jumbotron2">
			<a href="/login" class="btn-lg btn-success center">Login</a>
			<a href="/signup" class="btn-lg btn-success center">Signup</a>
	</div>
	<div class="tileContainer">
		<div class="tile">
			<div class="tileText">
			    <div class="blurbTitle"><strong>Value Prop</strong></div>
			    <div class="blurb"> Many values so many many. Hello bello jello. Jello. I am full. I am tired. I am in a food coma?</div>
			</div>
		</div>
		<div class="tile">
			<div class="tileText">
			    <div class="blurbTitle"><strong>How Does This Work?</strong></div>
			    <div class="blurb">Sign up with your linked in email and then blah blah. Everyday at 10am, 4pm, and 10pm you will receive a match. You can pass with skips and then lala get to know people okay?</div>
			</div>
		</div>
		<div class="tile">
			<div class="tileText">
			    <div class="blurbTitle"><strong>Value Prop</strong></div>
			    <div class="blurb"> Blah.</div>
			</div>
		</div>
	<div class="tileContainer">
		<a href="/fbprivacypolicy">Facebook Privacy Policy</a>
</div>
</body>
</html>