<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Tinder Meets LinkedIn</title>
<!-- 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<!-- 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css" >
</head>
<body>
<div class="container">
	<ul class="nav nav-tabs">
	    <li class="active"><a href="/">Home</a></li>
	    <li><a href="/fbprivacypolicy">Facebook Privacy Policy</a></li>
	</ul>
	<div class="jumbotron">
			<h1>Tinder Meets LinkedIn</h1>
	</div>
	<div class="jumbotron2">
			<a href="/login" class="btn-lg btn-success center">Login</a>
			<a href="/signup" class="btn-lg btn-success center">Signup</a>
	</div>
	<div class="tileContainer">
		<div class="tile">
			<div class="tileText">
			    <h2 class="blurbTitle"> Value Prop </h2>
			    <p class="blurb"> Blah.</p>
			</div>
		</div>
		<div class="tile">
			<div class="tileText">
			    <h2 class="blurbTitle"> Value Prop </h2>
			    <p class="blurb">  Blah.</p>
			</div>
		</div>
		<div class="tile">
			<div class="tileText">
			    <h2 class="blurbTitle"> Value Prop </h2>
			    <p class="blurb"> Blah.</p>
			</div>
		</div>
	<div class="tileContainer">
<!-- 	<div class="row center">
        <div class="col-md-4">
            <h2> Value Prop </h2>
            <p> Blah.</p>
        </div>        
        <div class="col-md-4">
            <h2> How It Works </h2>
            <p> Still determining. </p>
        </div>
        <div class="col-md-4">
            <h2> Value Prop 2? </h2>
            <p> Other stuff.</p>
        </div>
    </div> -->
</div>
</body>
</html>