<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Tinder Meets LinkedIn</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<ul class="nav nav-tabs">
	    <li class="active"><a href="/">Home</a></li>
	    <li><a href="/fbprivacypolicy">Facebook Privacy Policy</a></li>
	</ul>
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Tinder Meets LinkedIn</h1>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
	</div>
	<div style="text-align: center"> THIS SITE IS STILL UNDER CONSTRUCTION </div>
	<div class="row">
        <div class="col-md-4">
            <h2> Value prop </h2>
            <p> Blah.</p>
        </div>        
        <div class="col-md-4">
            <h2> How it Works </h2>
            <p> still determining. </p>
        </div>
        <div class="col-md-4">
            <h2> Value prop 2? </h2>
            <p> other stuff.</p>
        </div>
    </div>
</div>
</body>
</html>