<!doctype html>
<html>
<head>
    <title>Pongs</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
    body {
        padding-top:80px;
    }
    </style>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
		<div class="row text-center">
	    	<a href="/oauth/linkedin">
			 	<button type="button" class="btn btn-primary btn-lg">Connect with LinkedIn data</button>
	    	</a>
	    </div>
	</div>
</body>
</html>
