<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Pongs</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css" >
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'></head>
</head>
<body>
	<div class="container">
		<div class="logoContainer">
			<img class="logo" src="../images/Pongs.png">
		</div>
		<div class="jumbotron2">
			<div class="fullTitle" id="signupButton">Sign Up</div>
			<br style="clear:both;"/>
		</div>
		<form class="formDisplay" action="/signup" method="post">
			<div class="form-group">
				<input type="email" class="form-control" name="email" placeholder="Primary LinkedIn Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Password">
			</div>
			<button type="submit" class="submit-button">Sign Up</button>
			<div class="center">
				<br/>
				<span>Already have an account? <a href="/login">Log In</a></span><br/>
				<span>Or go <a href="/">home</a>.</span>
			</div>
		</form>

	</div>

</div>
</body>
</html>