<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Pongs</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css" >
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'></head>
</head>
<body>
	<div class="container">
		<div class="logoContainer">
			<img class="logo" src="../images/Pongs.png">
		</div>
		<div class="jumbotron2">
	<div class="fullTitle" id="signupButton">Sign Up</div>
	<br style="clear:both;"/>
</div>
		<form class="formDisplay" action="/signup" method="post">
			<div class="form-group"`>
				<label>LinkedIn Email (Must be your primary email for your LinkedIn profile)</label>
				<input type="email" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>
			<button type="submit" class="btn btn-lg">Signup</button>
		</form>

		<p>Already have an account? <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>

</div>
</body>
</html>